body{
    border: 10px solid #006400;
}
*{
    /*background-color:rgb(124, 235, 229);*/
    /*background-image: radial-gradient(rgb(159, 240, 159) 60%,rgb(2, 66, 2));*/
}
h1{
    font-family: fantasy;
    color: #000080;
    background-color: aqua;
    border: 2px solid black;
    padding: 20px;
    margin: 450px;
    margin-top: 7px;
    margin-bottom: 0px;
    border-radius: 100px;
}
h2{
    font-family: cursive;
    color: #045030;
}
h3{
    font-family: -apple-system, Bl-apinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #cf0000
}
.Elsa{
    display: flex;
    justify-content: space-evenly;
    background-image: url("BG.jpg");
}
.SnowWhite{
    display: flex;
    justify-content: space-evenly;
    background-image: url("BG.jpg");
}
.Cinderella{
    display: flex;
    justify-content: space-evenly;
    background-image: url("BG.jpg");
}
.Rapunzel{
    display: flex;
    justify-content: space-evenly;
    background-image: url("BG.jpg");
}
.Belle{
    display: flex;
    justify-content: space-evenly;
    background-image: url("BG.jpg");
}
.Ariel{
    display: flex;
    justify-content: space-evenly;
    background-image: url("BG.jpg");
}
.Aurora{
    display: flex;
    justify-content: space-evenly;
    background-image: url("BG.jpg");
}
.Jasmine{
    display: flex;
    justify-content: space-evenly;
    background-image: url("BG.jpg");
}
.Mulan{
    display: flex;
    justify-content: space-evenly;
    background-image: url("BG.jpg");
}
.Tiana{
    display: flex;
    justify-content: space-evenly;
    background-image: url("BG.jpg");
}
.Middle{
    background-image: url("https://wallpaperaccess.com/full/845487.gif");
}
.Links{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(236, 145, 229);
    border: 2px solid black;
    padding-left: 30px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 25px;
}